/* #mainTitle {
    font-size: 200px;
} */

.jumbotron {
   
    color: rgb(182, 76, 76);
}


#tester1 {
    background-image: url("../images/PB.jpg");
    background-color: rgb(167, 152, 37);
    opacity:.8;
    height: 25%;
    width: 25%;
    float: left;

}


.pbTicket {
    font-size: 11px;
}

#powerPlayNo {
    height: 100px;
    width: 500px;
    border-block: 5px;
    border-block-color: red;
}

#pbContainer {
    background-image: url(../images/PB.jpg);
    /* opacity: .8; */
    height: 840px;
    width: 525px;
}
}

.pbNumber {
    background-color: rgb(37, 69, 167);
    margin-left: 25%;
}


#pb1 {
    margin-top: 325px;
    margin-left: 135px;
    height: 20px;
    width: 58%;
    opacity:.75;
   
  }

#pb2 {
    opacity:.75;
    margin-left: 135px;
    height: 20px;
    width: 58%;
    
   }

#pb3 {
    opacity:.75;
    margin-left: 135px;
    height: 20px;
    width: 58%;
    
}

#pb4 {
    opacity:.75;
    margin-left: 135px;
    height: 20px;
    width: 58%;
    
}

#pb5 {
    opacity:.75;
    margin-left: 135px;
    height: 20px;
    width: 58%;
   
}



.pbLetters {
    background-color: rgb(73, 226, 43);
}

.pbNumber {
    float: left;
    height: 80%;
    width: 10%;
    background-color: aquamarine;
}



.testBox1 {
    background-color: rgb(37, 69, 167);
    height: 100px;
    width: 100px;
    margin: 5px;
}
.testBox2 {
    background-color: rgb(31, 51, 110);
    height: 650px;
    width: 550px;
    margin: 5px;
}
.testBox3 {
    background-color: rgb(101, 125, 199);
    height: 600px;
    width: 500px;
    margin: 5px;
}
.testBox4 {
    background-color: rgb(37, 167, 57);
    height: 550px;
    width: 450px;
    margin: 5px;
}
.testBox5 {
    background-color: rgb(167, 104, 37);
    height: 500px;
    width: 400px;
    margin: 5px;
}
.testBox6 {
    background-color: rgb(167, 37, 128);
    height: 450px;
    width: 350px;
}
.testBox7 {
    background-color: rgb(161, 167, 37);
    height: 400px;
    width: 300px;
}
.testBox8 {
    background-color: rgb(163, 37, 167);
    height: 350px;
    width: 250px;
}
.testBox9 {
    background-color: rgb(61, 63, 68);
    height: 300px;
    width: 200px;
}





















#instructions {
    padding: 2%;
    border: solid 3px black;
    width: 100%;
    margin-top: 40px;
    float: left;
    background-color: rgb(37, 69, 167);
    /* background-image: url("../images/background3.jpg"); */
    color: white;
    opacity:.85;
}

#instructions:hover {
opacity:.94;
}
/* extra background images to easily change to */



#instructionBox {
    margin-top: 40px;
}

#totalScoreTargetBox {
    border: solid 3px black;
    height: 100px;
    text-align: center;
    width: 60%;
    margin-top: 20px;
    float: left;
    background-color: rgb(37, 69, 167);
    /* background-image: url("../images/background3.jpg"); */
    color: white;
    padding-top: 8px;
    opacity:.8;
}

#winsLosesBox {
    border: solid 3px black;
    height: 100px;
    padding-top: 11px;
    text-align: center;
    font-weight: bolder;
    float: left;
    margin-top: 20px;
    width: 35%;
    margin-left: 5%;
    background-color: rgb(37, 69, 167);
    /* background-image: url("../images/background3.jpg"); */
    color: white;
    opacity:.8;
}

.crystal {
    border: solid 4px black;
    height: 136px;
    width: 24%;
    float: left;
    background-color: white;
    margin-top: 20px;
    margin-right: .5%;
    margin-left: .5%;
    opacity: .75;
}
.crystal:hover {
opacity:.9;
}
.crystal:active {
    opacity: .75;
    background-color: rgb(37, 69, 167);
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}
#totalScoreTextBox {
    border: solid 3px black;
    height: 70px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    float: left;
    background-color: rgb(37, 69, 167);
    /* background-image: url("../images/background3.jpg"); */
    color: white;
    opacity:.8;
}

#currentTotalScoreBox {
    border: solid 3px black;
    height: 70px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 40px;
    float: left;
    background-color: rgb(37, 69, 167);
    /* background-image: url("../images/background3.jpg"); */
    color: white;
    padding-bottom: 80px;
    opacity:.8;
}