/* #mainTitle {
    font-size: 200px;
} */

.jumbotron {
    color: rgb(182, 76, 76);
}

#formInput {
    margin-top: 30px;
    width: 100%;
}

#powerBallsubmitBuffer {
    margin-left: 115px;
}

#PBsubmit {
    width: 40px;
    height: 30px;
    float: left;
    margin-left: 10px;
    text-align: center;
    border-width: 0px;
}

#PbRandom {
    width: 65px;
    height: 30px;
    float: left;
    margin-left: 10px;
    text-align: center;
    border-width: 0px;
}

#tester1 {
    background-image: url("../images/PB.jpg");
    background-color: rgb(167, 152, 37);
    opacity: .8;
    height: 25%;
    width: 25%;
    float: left;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.powerBallsubmit {
    font-size: 12px;
    width: 30px;
    float: left;
    height: 30px;
    margin-left: 10px;
    text-align: center;
    display: grid;
    appearance: none;
}

.pbTicket {
    font-size: 11px;
}

#pbContainerInput {
    /* background-image: url(../images/PB.jpg); */
    /* opacity: .8; */
    height: 840px;
    width: 525px;
    float: left;
    color: rgb(4, 7, 17);
    background-color: yellow;
}

#powerPlayNo1 {
    height: 20px;
    width: 100%;
    background-color: rgb(149, 209, 213);
    margin: 0%;
    border: 0%;
    padding: 0%;
    text-align: center;
    text-decoration-color: black;
}

#powerPlayNo2 {
    height: 100px;
    width: 100%;
    background-color: cadetblue;
    margin: 0%;
    border: 0%;
    padding: 0%;
}

#powerPlayNo3 {
    height: 15px;
    width: 100%;
    background-color: rgb(157, 208, 169);
    margin: 0%;
    border: 0%;
    padding: 0%;
    text-align: center;
}

#powerPlayNo {
    height: 100px;
    width: 100%;
    border-block: 5px;
    border-block-color: red;
}

#pbContainer {
    background-image: url(../images/PB.jpg);
    /* opacity: .8; */
    height: 840px;
    width: 525px;
    float: left;
}
#ticketSelectorBox {
    height: 60px;
}

#currentlySelectedBox {
    height: 40px;
    background-color: bisque;
}

#pbContainer2 {
    /* background-image: url(../images/PB.jpg); */
    /* opacity: .8; */
    height: 840px;
    width: 525px;
    float: left;
    color: rgb(0, 55, 255);
    background-color: yellow;
}

.pb .pbNumber {
    background-color: rgb(37, 69, 167);
    margin-left: 25%;
}

#pb1 {
    margin-top: 325px;
    margin-left: 135px;
    height: 20px;
    width: 58%;
    opacity: .75;
}

#pb2 {
    opacity: .75;
    margin-left: 135px;
    height: 20px;
    width: 58%;
}

#pb3 {
    opacity: .75;
    margin-left: 135px;
    height: 20px;
    width: 58%;
}

#pb4 {
    opacity: .75;
    margin-left: 135px;
    height: 20px;
    width: 58%;
}

#pb5 {
    opacity: .75;
    margin-left: 135px;
    height: 20px;
    width: 58%;
}

.pbLetters {
    background-color: rgb(73, 226, 43);
}

.pbNumber {
    float: left;
    height: 80%;
    width: 10%;
    background-color: aquamarine;
}

.resultsRow {
    height: 25px;
    width: 100%;
}

#resultsRow1 {
    background-color: cyan;
}

#resultsRow2 {
    background-color: darkcyan;
}

#resultsRow3 {
    background-color: cyan;
}

#resultsRow4 {
    background-color: darkcyan;
}

#resultsRow5 {
    background-color: cyan;
}

#resultsRow6 {
    background-color: darkcyan;
}

#resultsRow7 {
    background-color: cyan;
}

#resultsRow8 {
    background-color: darkcyan;
}

#resultsRow9 {
    background-color: cyan;
}

#resultsRow10 {
    background-color: darkcyan;
}

.match {
    text-align: center;
    border: 1px solid black;    
    float: left;
    height: 100%;
    width: 13.5%;
    background-color: bisque;
}

.prize {
    text-align: center;
    border: 1px solid black;    
    float: left;
    height: 100%;
    width: 20.8%;
    background-color: rgb(191, 133, 62);
}

.timesHit {
    text-align: center;
    border: 1px solid black;    
    float: left;
    height: 100%;
    width: 19.1%;
    background-color: bisque;
}

.totalWon {
    text-align: center;
    border: 1px solid black;    
    float: left;
    height: 100%;
    width: 20.8%;
    background-color: rgb(191, 133, 62);
}

.odds {
    text-align: center;
    border: 1px solid black;    
    float: left;
    height: 100%;
    width: 25.8%;
    background-color: bisque;
}